# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# VSCode and IDE configs
.vscode/
.idea/

# Log files
*.log

# OS files
.DS_Store
Thumbs.db

# Streamlit secrets or config
.streamlit/secrets.toml

# Folder output sementara
output/
temp/
tmp/

# Shapefile
/shapefiles/*
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.sbn
*.sbx
*.xml